# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=bitrix
RABBITMQ_PASSWORD=bitrix
RABBITMQ_QUEUE=file_processing_queue

# Bitrix Document Root (для CLI-воркера)
DOCUMENT_ROOT=/var/www/www
